
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Box</title>
    <link rel='stylesheet' type="text/css" href='../assets/index.css' />

</head>


<main>
    <%- include('partials/nav.ejs') %>
    <%- include('partials/sideNav.ejs') %>
    <div id="content">
        <%- include('partials/userImage.ejs') %>

        <br>
        <h3 class="centerTable">Explore other Profiles</h3>
        <br>
        <table class="width">
        <%for(let j=0; j < data.result.length; j++){%>


            <tr>
                <td>
                    <%if (data.result[j].userID !== data.r.userID){%>

                    <button type="button" value="<%=data.result[j].userID%>" class="side" onclick="location.href='/UserProfile/<%=data.result[j].userID%>';"><%= data.result[j].userID%> | <%= data.result1[j].Bio%> <img class="Online" src="assets/images/<%- data.result1[j].Image%>" alt="Green Dot"></button>
                        <br>
                </td>
            </tr>
            <%} else{%>
            <%console.log("End of user profile list");%>
            <%}%>
            <%}%>

        </table>

    </div>
    <!--<%-// include('partials/footer.ejs') %> For some reason this doesnt work-->

</main>
</body>
</html>