
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Box</title>
    <link rel='stylesheet' type="text/css" href='../assets/index.css' />

</head>


<main>

    <%- include('partials/nav.ejs') %>
    <%- include('partials/sideNav.ejs') %>

    <div class="content">

        <img class="profileBckImage" src="/assets/images/Charlotte2.jpg" alt="Sky Line">
        <img class="profileAvatar" src="/assets/images/VanessaOtt.jpg" alt="Avatar">
        <%if(typeof data.result !== 'undefined'){%>
        <h2 class="centerTable"><%=data.result.firstN%> <%=data.result.lastN%>'s Profile</h2>
        <%} else{%>
            <h2 class="centerTable">Created Profile</h2>
        <%}%>
        <hr>
        <%if(typeof data.p !== 'undefined'){%>
        <!--loop through the the result document listing all of the saved data-->

        <table class="centerTable2">
            <tr>
                <%for(let j=0; j < data.p.length; j++){%><!--loop through the the result document listing all of the saved data-->
                <th>
                    <div>
                        <p><em>About: </em> <%=data.p[j].Bio%></p>
                        <p><em>Occupation: </em><%= data.p[j].Work %></p>
                        <p><em>Relationship: </em><%= data.p[j].Status %></p>
                        <p><em>Seeking: </em><%= data.p[j].Seeking %></p>
                    </div>
                </th>
            </tr>
        </table>
        <%}%>
        <%}%>

        <%if(typeof data.s !== 'undefined'){%>
        <!--loop through the the result document listing all of the saved data-->

        <table class="centerTable2">
            <tr>
                <th>
                    <div>
                        <p><em>About: </em> <%=data.s.Bio%></p>
                        <p><em>Occupation: </em><%= data.s.Work %></p>
                        <p><em>Relationship: </em><%= data.s.Status %></p>
                        <p><em>Seeking: </em><%= data.s.Seeking %></p>
                    </div>
                </th>
            </tr>
        </table>
        <%}%>

        <hr>
        <br>

        <%if(typeof data.friend !== 'undefined'){%>
        <!--loop through the the result document listing all of the saved data-->


        <table class="centerTable2">
            <%if (data.friend.length < 8){%>
                <%for(let j=0; j < data.friend.length; j++){%><!--loop through the the result document listing all of the saved data-->
                <th>
                    <%if (data.friend[j].userID !== data.r.userID){%>
                    <button class="friendButton" onclick="location.href='http://127.0.0.1:8082/newMessage/<%=data.friend[j].userID%>';"><%=data.friend[j].userID%></button>
                    <%}%>
                </th>
                <%}%>
            <%} else{ %>
            <tr>
                <%for(let j=0; j < 4; j++){%><!--loop through the the result document listing all of the saved data-->
                <th>
                    <%if (data.friend[j].userID !== data.r.userID){%>
                        <button class="friendButton" onclick="location.href='http://127.0.0.1:8082/newMessage/<%=data.friend[j].userID%>';"><%=data.friend[j].userID%></button>
                    <%}%>
                </th>
                <%}%>
            </tr>

            <tr>
                <%for(let j=4; j < data.friend.length; j++){%><!--loop through the the result document listing all of the saved data-->
                <td>
                    <%if (data.friend[j].userID !== data.r.userID){%>
                    <button class="friendButton" onclick="location.href='http://127.0.0.1:8082/newMessage/<%=data.friend[j].userID%>';"><%=data.friend[j].userID%></button>
                    <%}%>
                </td>
                <%}%>
            </tr>
        </table>
        <%}%>
        <%}%>
    </div>

    <!--<%-// include('partials/footer.ejs') %> For some reason this doesnt work-->
</main>

</body>
</html>