
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Box</title>
    <link rel='stylesheet' type="text/css" href='../assets/index.css' />

</head>


<main>
    <%- include('partials/nav.ejs') %>
    <%- include('partials/sideNav.ejs') %>
    <div id="content">
        <%- include('partials/userImage.ejs') %>

        <br><br><br>
        <form action="/sendingMessage/<%=data.id.id%>" method="post" id="messageForm">
            <label for="id">To:</label><br>
            <input type="text" name="id" id="id" value="<%=data.id.id%>" readonly><br>

            <label for="userID">From:</label><br>
            <input type="text" name="userID" id="userID" value="<%=data.r.userID%>" readonly><br>

            <label for="message">Message:</label><br>
            <input type="text" name="message" id="message" value="<%=data.qs.message%>" placeholder="Send a Message..."><br>

            <br>
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
    <!--<%-// include('partials/footer.ejs') %> For some reason this doesnt work-->

</main>
</body>
</html>